/*Geral*/
body{
    margin: 0;
    padding: 0;
    background-image: url("../img/bodybg.jpg");
}

table{
    width: 1000px;
    background-color: #E8F5FF;
    padding: 0;
}

th, td, tr{
    padding: 0;
    margin: 0;
}

#citySelect{
    padding-left: 5px;
    -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
    -moz-appearance: none; /* Remove estilo padrão do FireFox */
    appearance: none; /* Remove estilo padrão do FireFox*/
    background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;  /* Imagem de fundo (Seta) */
    background-position: 168px center;  /*Posição da imagem do background*/
    width: 200px; /* Tamanho do select, maior que o tamanho da div "div-select" */
    height:30px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
    border:1px solid #ddd;
}


/*Botão início*/
.btn {
    border:1px solid #E7E8EA;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family:Verdana;
    font-weight:bold;
    font-size:13px;
    padding:6px 10px;
    text-decoration:none;
}

.btn-inicio {
    width: 100px;
    border-color: #E7E8EA;
    background:linear-gradient(to bottom, #A4A5AA 5%, #D4D5D7 100%);
    box-shadow:inset 0px 1px 0px 0px #e3f1e3;
    color:#000;
    text-shadow:0px 1px 0px #528009;
}

.btn-inicio:hover {
    background:linear-gradient(to bottom, #D4D5D7 5%, #A4A5AA 100%);
}


/*SlideShow*/
* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}


/*Fontes*/
.fontTitle{
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Lobster', cursive;
}

.contato{
    color: blue;
    text-decoration: underline;
}

.btnDoar{
    width: 60%;
    cursor: pointer;
}

.btnIndicar{
    font-family: 'Oswald', sans-serif;
    width: 60%;
    cursor: pointer;
    height: 30px;
    margin-top: 5px;
    background-color: #eac844;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.btnIndicar:hover{
    transform: scale(1.1);
    background-color: #F2CD3D;
}

.descricaoEntidades{
    font-family: 'Montserrat', sans-serif;
    vertical-align: text-top;
    width: 33%;
}

.descricaoEntidades p{
    font-size: 12px;
}

.dadosContato{
    vertical-align: text-top;
    width: 33%;
    text-align: center;
}

/*Modals*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    border-radius: 10px;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btnDonateModal{
    width: 100px;
    border-color: #E7E8EA;
    background:linear-gradient(to bottom, #57a337 5%, #7fdb59 100%);
    box-shadow:inset 0px 1px 0px 0px #e3f1e3;
    color: white;
    text-shadow:0px 1px 0px #528009;
    cursor: pointer;
    position: absolute;
    left: 45%;
    width: 10%;
    height: 30px;
}

.btnDonateModal:hover {
    background:linear-gradient(to bottom, #7fdb59 5%, #57a337 100%);
}

.btnIndicateModal{
    width: 100px;
    border-color: #E7E8EA;
    background:linear-gradient(to bottom, #ead63a 5%, #ffe72d 100%);
    box-shadow:inset 0px 1px 0px 0px #e3f1e3;
    color: black;
    text-shadow:0px 1px 0px #528009;
    cursor: pointer;
    position: absolute;
    left: 45%;
    width: 10%;
    height: 30px;
}

.btnIndicateModal:hover {
    background:linear-gradient(to bottom, #ffe72d 5%, #ead63a 100%);
}


/*Formulário de cadastro*/
#cadastroForm{
    padding-top: 50px;
    padding-left: 30px
}

#cadastroForm input{
    width: 300px;
    border-radius: 5px;
    height: 28px;
}

#cadastroForm input:focus{
    background-color: #e6ecf7;
}

#cadastroForm textarea:focus{
    background-color: #e6ecf7;
}
